h1 {
  text-align: center;
  text-transform: uppercase;
  color: #4ca2af;
}

p {
  text-indent: 50px;
  text-align: center;
  letter-spacing: 3px;
}

.previous {
  background-color: #4ca2af;
  color: white;
  border: 0.1px solid #ffffff;
  float: left;
}

.next {
  background-color: #4ca2af;
  color: white;
  border: 0.1px solid #ffffff;
  float: right;
}

.containerscrol {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 400px;
  margin: -200px 0 0 -300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  flex-wrap: nowrap;
}

/* .containerpreviw {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 400px;
  margin: -200px 0 0 -300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  flex-wrap: nowrap;
} */

img.logo {
  width: 40%;
}

img {
  max-width: 50%;
}

input[type=text], input[type=password], input[type=submit], input[type=file] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  
}

input[type=button] {
  margin: 8px 0;
  width: 30%;
	background-color: #4ca2af;
	color: white;
	padding: 9px 20px;
	cursor: pointer;
  border: 0.1px solid #ffffff;
}

button {
	margin: 8px 0;
	background-color: #4ca2af;
	color: white;
	padding: 9px 20px;
	cursor: pointer;
	/* width: 30%; */
}

button:hover {
  opacity: 0.8;
}

#rectangle{
  width:50px;
  height:50px;
  border: 1px solid;
  border-radius: 0.50rem;
  margin: 0 auto;
	padding: 1px;
  display: flex;
  background: #000000;
}

#datas {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#datas td, #datas th {
  border: 1px solid #ddd;
  padding: 8px;
}

#datas tr:nth-child(even){background-color: #f2f2f2;}

#datas tr:hover {background-color: #ddd;}

#datas th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4ca2af;
  color: white;
}

#btn-center {
  position: absolute;
  width: 100%;
  z-index: 100;
  bottom: 0;
  border: 0.1px solid #ffffff;
  text-align: center;
}

* {
  box-sizing: border-box;
}

#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}